
<div class="table_crud_random">
  <section class="container mt-8 px-6 py-4 mx-auto">

    <div style="position: fixed; top:0; display:flex; justify-content:center; width:80%;" class="nav">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> <%= link_to '/qoutes' do %><i class="fas fa-home"> Back to home</i><% end %></button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ml-5"> <%= link_to '/qoutes/qoutes' do %> <i class="fas fa-random"> Random Qoutes</i><% end %></button>
    </div>

    <div id="body" class="flex flex-col ml-5" style="justify-content:center; text-align:center; align-items:center;">
      <h4 id="name" class="text-5xl color-danger font-semibold text-white">
        <%= @qoute.name %>
          <%=link_to "/qoutes/save/favorites/#{@qoute.id}/#{@qoute.favorites ? '1' : '0'}" do %>
            <i class="fas <%= @qoute.favorites == true ? 'true' : 'false'%> fa-heart text-red font-bold py-2 px-4 rounded-full" > </i>
          <% end %>
      </h4>
      <h4 id="job" class="text-3xl text-white mt-2" style="width:50%;"><%= @qoute.description %></p>
    </div>

  </section>
</div>